<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home"> <mat-icon aria-label="Side nav toggle icon">home</mat-icon>Home</a>
      <a mat-list-item routerLink="acerca">Acerca de hola</a>
      <a mat-list-item routerLink="contacto"><mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>Contacto</a>
      <a mat-list-item routerLink="preguntas"><mat-icon aria-label="Side nav toggle icon">search</mat-icon>preguntas frecuentes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CAV</span>
      <span class="spacer"></span>
      <a  routerLink="home">Home</a>
      <a  routerLink="acerca">Acerca de</a>
      
      <a  routerLink="contacto">Contacto</a>
      <a  routerLink="preguntas">preguntas frecuentes</a>
      <a  (click)="decir()"><img src="../../assets/accesibilidad.png" width="40px" alt=""></a>
    </mat-toolbar>
    <mat-grid-list cols="1" [rowHeight]="row" (window:resize)="onResize($event)">
      <mat-grid-tile style="background: rgb(145, 145, 248);">
        <h2><i class="fa-2x fa fa-plane" aria-hidden="true"></i>Consulta para una Agencia de Viajes</h2>
      </mat-grid-tile>
    </mat-grid-list>
    <router-outlet></router-outlet>
    <mat-grid-list cols="1" [rowHeight]="row" (window:resize)="onResize($event)">
  <mat-grid-tile style="background: rgb(145, 145, 248);">
    @Todos los derechos reservados.
  </mat-grid-tile>
</mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
