
<mat-grid-list [cols]="breakpoint" rowHeight="2:1.4" (window:resize)="onResize($event)">
    <mat-grid-tile >
        <div class="info"><h4>¿Que es CAV?</h4>
        <p id="texto">PConsultando una Agencia de Viajes, ese el significado de nuestra abreviatura. Estamos aqui para que 
            puedan nuestros usuarios poder buscar el viaje que mejor se le acomode desde la comodidad de donde quiera que este      
        </p>
        <input type="button" id="hablar" value="Decir" >
    </div> 
    </mat-grid-tile> 
    <mat-grid-tile  style="background: grey;">
        <img  class="imagen" src="../../../assets/equipo2.jpg" alt="">
    </mat-grid-tile>
</mat-grid-list>
<script src="script.js"></script>
